{% extends "main_site/base.html" %}{% load compress %}
{% block extra_html %}ng-app="buddyupDashboard"{% endblock %}
{% block extra_body %}ng-controller="mainController"{% endblock %}

{% block stats_class %}active{% endblock %}

{% block js %}{{block.super}}
<script>
// Import data.
window.dashboardData = {};
window.dashboardData.data_points = [];
{% for d in data_points %}
window.dashboardData.data_points.push({{d.json|safe}});{% endfor %}
window.dashboardData.milestones = [];
{% for m in milestones %}
window.dashboardData.milestones.push({{m.json|safe}});{% endfor %}
</script>
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
<script src="{{STATIC_URL}}main_site/js/sales_cycle.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<div ng-view>
    <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</div>
{% endblock %}

